/* Custom Styles */

body {
  font-family: Poppins, sans-serif;
}

.navbar-brand {
  font-size: 1.5rem;
  border-image-slice: 60px;
}
html{
  scroll-behavior: smooth;
}

p {
  text-align: left;
  font-family: Times New Roman;
}

.progress-bar {
  transition: width 0.6s ease;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

footer {
  color: #fff;
}

/* Media Queries */
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.2rem;
  }
}
/* Custom Styles */
body {
  font-family: Arial, sans-serif;
}

.navbar-brand {
  font-size: 1.5rem;
}

.progress-bar {
  transition: width 0.6s ease;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

footer {
  color: #fff;
}

/* Media Queries */
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.2rem;
  }
}
